<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> Balance </ion-title>
    <ion-button (click)="Logout()" slot="end">
      Salir
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Usted tiene:</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
<!--       <ion-spinner
        *ngIf="showSpinner"
        name="circles"
        color="primary"
      ></ion-spinner> -->
      <img *ngIf="showSpinner" class="spinner" src="../../../assets/spinner.gif" alt="">

      <h1 *ngIf="!showSpinner" class="amount">{{balanceUsuario.balance}}</h1>
      <h1 *ngIf="!showSpinner" class="credits">Créditos</h1>
    </ion-card-content>
  </ion-card>
  <div id="container">
    <ion-button
      (click)="ReadQrCode()"
      expand="block"
      color="primary"
      class="btn-cargar"
    >
      <ion-icon name="qr-code-outline" color="dark"></ion-icon>
      <p>Cargar crédito</p>
    </ion-button>
    <ion-button
      (click)="LimpiarCreditos()"
      expand="block"
      color="danger"
      class="btn-limpiar"
    >
      <ion-icon name="trash-outline" color="light"></ion-icon>
      <p>Limpiar créditos</p>
    </ion-button>
  </div>
</ion-content>
