<ion-header>
  <ion-toolbar>
    <ion-title slot="start"> Balance </ion-title>
    <ion-button (click)="Logout()" slot="end">
      Salir
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Balance:</ion-card-subtitle>
      <ion-row [ngClass]="{'icon-center': showSpinner}">

          <ion-spinner *ngIf="showSpinner" name="circles" color="primary"></ion-spinner>

        <h1 *ngIf="!showSpinner">{{balanceUsuario.balance}} Creditos</h1>
      </ion-row>
    </ion-card-header>
  </ion-card>
  <div id="container">
    <ion-button (click)="ReadQrCode()" expand="block" color="primary">
      <ion-icon name="qr-code-outline" color="dark"></ion-icon>
      <p>Cargar credito</p>
    </ion-button>
    <ion-button (click)="LimpiarCreditos()" expand="block" color="danger">
      <ion-icon name="trash-outline" color="light">lalala</ion-icon>
      <p>Limpiar creditos</p>
    </ion-button>
  </div>
</ion-content>
