<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
  <ion-button (click)="Logout()">
    Logout
  </ion-button>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-left"><ion-icon name="wallet-outline"></ion-icon>Balance</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="card-content">
        {{balanceUsuario.balance}} Creditos
      </ion-card-content>
    </ion-card>

    <ion-button expand="block" size="default" color="primary" (click)="ReadQrCode()">
      <ion-icon name="qr-code-outline"></ion-icon>
      Cargar credito
    </ion-button>    
    <ion-button expand="block" size="default" color="danger" (click)="LimpiarCreditos()">
      <ion-icon name="qr-code-outline"></ion-icon>
      Limpiar Creditos
    </ion-button>
  </div>
</ion-content>
